// Header and NavBar

header {
  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .img-profile {
      position: relative;
      top: 10px;
      right: 10%;
      cursor: pointer;

      img {
        border-radius: 50%;
        width: 70px;
        height: 70px;
        box-shadow: 0 0 7px 5px #bbe8f1;
        transition: 0.5s ease;

        &:hover {
          box-shadow: 0 0 17px 15px #bbe8f1;
        }
      }
    }

    .sign-in-btn {
      margin-right: 110px;
      font-size: 20px;
      padding: 20px 24px;
      border: 3px solid black;
      border-radius: 30px;
      transition: 0.3s ease;

      background: rgba(0, 0, 0, 0.91);
      color: #fff;
      cursor: pointer;

      &:active {
        transform: scale(1.1);
      }
    }

    h1 {
      display: inline-block;
      font-style: normal;
      font-weight: 400;
      font-size: 50px;
      line-height: 63px;

      margin-right: 3%;

      border-bottom: 5px solid #f1d5bb;
    }
  }

  // NavBar

  .navbar {
    .img-profile {
      color: white;
      position: absolute;
      top: 2%;
      left: 5%;
      z-index: 300;
      cursor: pointer;
      transform: translateY(-300px);
      transition: 0.5s ease;

      img {
        border-radius: 50%;
        width: 70px;
        height: 70px;
        transition: 0.5s ease;

        &:hover {
          box-shadow: 0 0 10px 2px #bbe8f1;
        }
      }
    }

    .sign-in-btn {
      font-size: 20px;
      padding: 20px 24px;
      border: 2px solid white;
      border-radius: 30px;

      background: rgba(0, 0, 0, 0.91);
      color: #fff;
      cursor: pointer;
      transition: 0.2s ease;
      transform: translateY(-300%);
      position: fixed;
      left: 10px;
      top: 10px;
      z-index: 500;

      &:active {
        // filter: brightness(120
        background: #01191e;
      }
    }

    // Location Icon

    .location-icon {
      position: fixed;
      z-index: 200;
      fill: white;
      bottom: 3%;
      left: 1%;
      transform: translateX(-300%);
      transition: 0.5s ease-in-out;
      cursor: pointer;
    }

    .menu-btn {
      display: none;
      margin-top: 22px;
    }

    .log-in {
      position: fixed;
      z-index: 200;
      bottom: 2%;
      right: 1%;
      color: white;
      transform: translateY(-120vh);
      opacity: 0;
      transition: 0.5s ease;
    }

    .menu {
      position: fixed;
      z-index: 100;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background-color: #0a0a0a;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      transform: translateY(-100%);
      transition: 0.3s ease;

      .menu-item {
        color: #fff;
        padding: 50px 0;
        font-size: 56px;
        list-style: none;

        text-align: center;
      }

      .logo-navbar {
        position: absolute;
        left: 48%;
        top: -60px;

        color: #f1d5bb;
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        line-height: 102px;
      }
    }
    .menu-open {
      transform: translateY(0) !important;
      opacity: 1;
    }
  }
}
