// Welcome page

.welcome {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .background {
    position: fixed;
    z-index: -10;
    width: 100%;
    height: 100vh;

    img {
      width: 100%;
    }
  }

  .welcome-content {
    width: 60%;

    h1 {
      color: #fff;
      font-size: 60px;
      font-weight: 600;
      padding-bottom: 50px;
    }

    p {
      color: #fff;
      text-align: center;
      font-size: 25px;
      font-weight: 200;
      margin-bottom: 7%;
    }
    .welcome-btn {
      button {
        height: 5rem;
        width: 11.625rem;

        border-radius: 2px;
        border: none;
        background: #fff;

        color: #000;
        font-size: 1.375rem;
        font-weight: 300;
        cursor: pointer;
        margin-right: 20px;
        transition: 0.5s ease;

        &:active {
          transform: scale(0.9);
        }
      }
    }
  }
}
