* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1095px;
  margin: 3% 0 0 19%;
}

// Welcome menu

.welcome {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background: url("/background.jpg") no-repeat;
  background-size: cover;

  .welcome-content {
    width: 60%;

    h1 {
      color: #fff;
      font-size: 60px;
      font-weight: 600;
      padding-bottom: 50px;
    }

    p {
      color: #fff;
      text-align: center;
      font-size: 25px;
      font-weight: 200;
      margin-bottom: 7%;

      // width: 51.375rem;
    }
    .welcome-btn {
      button {
        height: 5rem;
        width: 11.625rem;

        border-radius: 2px;
        border: none;
        background: #fff;

        color: #000;
        font-size: 1.375rem;
        font-weight: 300;
        cursor: pointer;
        margin-right: 20px;
      }
    }
  }
}

header {
  h1 {
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 63px;

    border-bottom: 5px solid #f1d5bb;
  }

  .menu-btn {
    display: none;
  }

  .menu {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #0a0a0a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(-100%);
    transition: 0.3s ease;

    .menu-item {
      color: #fff;
      padding: 50px 0;
      font-size: 56px;
      list-style: none;

      text-align: center;
    }
  }
  .menu-open {
    transform: translateY(0);
  }
}

.nav {
  user-select: none;
  max-width: 132px;
  height: 666px;
  background: #0c0b0b;
  border-radius: 24px;
  position: fixed;
  left: 4%;
  top: 43px;
  box-shadow: 10px 0 50px 1px rgba(29, 6, 6, 0.589);

  div {
    width: 132px;
    height: 111px;
    border-radius: 22px 22px 22px 22px;

    // background: #f1d5bb;

    display: flex;
    align-items: center;
    justify-content: center;

    &:nth-child(1) {
      position: relative;
      left: 5px;

      color: #f1d5bb;
      font-style: normal;
      font-weight: 400;
      font-size: 64px;
      line-height: 102px;
    }
  }
}

.arrows {
  position: absolute;
  width: 1095px;
  left: 15%;
  top: 410px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;

  img {
    width: 40px;
    height: 40px;
  }
}

main .arrows-second {
  position: initial;
  display: none;
  width: 300px;
  margin: 20px 40px;

  justify-content: space-between;
  cursor: pointer;

  img {
    width: 40px;
    height: 40px;
  }
}

// Menu page

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  .card {
    width: 230px;
    height: 265px;
    border: 3px solid #0c0b0b;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s ease;

    &:hover {
      background: #b0e8ef;
    }

    .card-info {
      position: relative;
      z-index: 1;
      width: 230px;
      height: 100px;
      transition: 0.5s ease;

      h3 {
        text-align: center;
        padding-top: 20px;
      }

      .cart {
        cursor: pointer;
        width: 30px;
        height: 30px;
        position: absolute;
        z-index: 2;
        right: 8px;
      }

      .price {
        margin-left: 10px;

        font-size: 20px;
        font-weight: 700;
      }
    }

    img {
      display: block;
      position: relative;
      z-index: 0;
      width: 230px;
      height: 180px;
      transition: 0.5s ease;
      overflow: hidden;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

// page cart

.cart-content {
  display: flex;
  gap: 41px;

  .left-cart {
    width: 44%;

    overflow: hidden;
    margin-bottom: 50px;

    background: #f1d5bb;
    border-radius: 3px;

    padding: 20px 15px;

    transition: 0.5s ease;

    .cart-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      transition: 0.5s ease-in-out;

      &:last-child {
        margin-bottom: 0;
      }

      .cart-logo {
        display: flex;
        gap: 20px;

        img {
          width: 80px;
          height: 80px;
          border-radius: 50%;
        }

        .cart-info {
          height: 80px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
        }
      }

      .cart-func {
        display: flex;
        gap: 40px;

        .cart-handle {
          display: flex;
          gap: 10px;
          user-select: none;

          div {
            padding: 5px 10px;
            background: #fff;
          }

          span {
            cursor: pointer;
            font-size: 20px;
          }
        }

        button {
          border: none;
          background: transparent;
          cursor: pointer;
          width: 25px;
          height: 25px;
          position: relative;

          span {
            position: absolute;
            left: 3px;
            background: rgba(0, 0, 0, 0.6);
            width: 20px;
            height: 2px;
          }
          span:nth-child(1) {
            transform: rotate(45deg);
          }
          span:nth-child(2) {
            transform: rotate(-45deg);
          }
        }
      }
    }

    h2 {
      transition: 0.5s ease;
      font-size: 40px;
      line-height: 50px;
      text-align: center;
      // margin-top: 200px;
      transform: translateY(200px);
      height: 460px;
    }
  }

  .right-cart {
    width: 333px;
    height: 500px;
    position: fixed;
    left: 56%;

    background: #f1d5bb;
    border-radius: 3px;

    .right-top-cart {
      padding: 30px 40px;

      h2 {
        margin-bottom: 20px;
        font-weight: 800;
        font-size: 30px;
        line-height: 50px;
      }
      .right-cart-price {
        display: flex;
        gap: 30px;

        font-weight: 400;
        font-size: 22px;
        line-height: 38px;
        color: rgba(0, 0, 0, 0.8);
        padding-bottom: 28px;
      }
      button {
        background: #000000;
        border: none;
        font-weight: 400;
        font-size: 25px;
        line-height: 38px;
        color: #ffffff;
        padding: 12px 44px;
        cursor: pointer;
      }
    }
    .right-bottom-cart {
      padding: 30px 40px;
      background: #ffffff;
      border: 2px solid #f1d5bb;
      border-radius: 3px;
      width: 333px;
      height: 242px;

      h2 {
        margin-bottom: 20px;
        font-weight: 800;
        font-size: 30px;
        line-height: 50px;
      }

      .cart-form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        input {
          padding: 10px;
          background: transparent;
          border: 2px solid #f1d5bb;
          border-radius: 3px;
          outline: none;

          font-weight: 200;
          font-size: 25px;
          line-height: 38px;
          color: rgba(0, 0, 0, 0.6);
        }
        button {
          background: #000000;
          font-weight: 400;
          font-size: 25px;
          line-height: 38px;
          color: #ffffff;
          width: 120px;
          cursor: pointer;
        }
      }
    }
  }
}

footer {
  position: fixed;
  width: 2500px;

  height: 19px;
  left: 80%;
  top: 730px;
}

@media (max-width: 1400px) {
  .welcome .welcome-content {
    h1 {
      font-size: 50px;
    }
  }
}

@media (max-width: 1275px) {
  .welcome .welcome-content {
    h1 {
      font-size: 40px;
    }

    p {
      font-size: 20px;
    }

    .welcome-btn button {
      width: 10rem;
      height: 4rem;
    }
  }

  .arrows {
    width: 100px;
    top: 55px;
    left: 90%;
  }

  footer {
    top: 97%;
  }
}

@media (max-width: 1100px) {
  .nav {
    display: none;
    position: fixed;
    left: 2%;
  }
  .arrows {
    width: 70px;
    top: 15px;
    left: 360px;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    .menu-btn {
      margin-right: 10px;
      display: inline-block;
      width: 50px;
      height: 50px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      position: relative;
      z-index: 200;
    }
  }

  .btn-line {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #f1d5bb;
    height: 5px;
    transition: 0.3s ease;
  }

  .btn-line:nth-child(1) {
    top: 0;
  }
  .btn-line:nth-child(2) {
    top: 20px;
  }
  .btn-line:nth-child(3) {
    top: 20px;
  }
  .btn-line:nth-child(4) {
    top: 40px;
  }

  .button-open .btn-line:nth-child(1) {
    transform: scaleX(0);
  }
  .button-open .btn-line:nth-child(2) {
    transform: rotate(45deg);
  }
  .button-open .btn-line:nth-child(3) {
    transform: rotate(-45deg);
  }
  .button-open .btn-line:nth-child(4) {
    transform: scaleX(0);
  }

  .container {
    margin: 1% 0 0 4%;
  }

  .card {
    width: 220px;
  }

  .cart {
    margin-right: 10px;
  }

  footer {
    left: 70%;
    top: 97%;
  }
}

@media (max-width: 1000px) {
  .welcome .welcome-content {
    h1 {
      font-size: 30px;
    }

    p {
      font-size: 15px;
    }

    .welcome-btn button {
      font-size: 1rem;

      width: 9rem;
      height: 3rem;
    }
  }

  .cart-content {
    flex-direction: column;

    .left-cart {
      width: 90%;
      margin: 0 auto;
    }

    .right-cart {
      position: initial;

      display: flex;
      justify-content: space-between;

      width: 95%;
      max-height: 300px;

      margin: 0 auto 30px;

      .right-top-cart {
        width: 300px;
        height: 250px;

        button {
          font-size: 20px;
        }
      }

      .right-bottom-cart {
        height: 100%;
      }
    }
  }
}

@media (max-width: 700px) {
  .welcome .welcome-content {
    width: 80%;

    .welcome-btn button {
      font-size: 1rem;

      width: 9rem;
      height: 3rem;
    }
  }

  .cart-content .right-cart .right-top-cart {
    padding: 20px 10px;

    h2 {
      font-size: 26px;
    }

    .right-top-cart {
      button {
        padding: 20px 10px;
      }
    }
  }
}

@media (max-width: 600px) {
  .welcome .welcome-content {
    width: 90%;

    h1 {
      font-size: 25px;
    }

    .welcome-btn button {
      font-size: 0.9rem;

      width: 8rem;
      height: 2rem;
    }
  }

  .cart-content {
    .right-cart {
      flex-direction: column;
      width: 85%;

      .right-bottom-cart {
        width: 100%;
      }
    }
  }
  footer {
    left: 50%;
    top: 97%;
  }
  .arrows {
    width: 90px;
  }
}

@media (max-width: 500px) {
  .arrows {
    left: 320px;
  }
}

@media (max-width: 480px) {
  .welcome {
    background-position: -170px;

    .welcome-content {
      width: 100%;

      h1 {
        font-size: 25px;
      }

      .welcome-btn button {
        font-size: 0.9rem;

        width: 8rem;
        height: 3rem;
      }
    }
  }

  .arrows {
    display: none;
  }

  main .arrows-second {
    display: flex;
  }

  .container h1 {
    font-size: 40px;
  }

  .cart-info h3 {
    font-size: 14px;
  }

  .cart-content .left-cart .cart-item .cart-func {
    gap: 20px;
  }

  .cart-content .left-cart .cart-item .cart-logo img {
    width: 60px;
    height: 60px;
  }

  .cards .card {
    width: 350px;
    height: 350px;

    .card-info {
      width: 350px;

      h3 {
        font-size: 24px;
      }
    }

    img {
      width: 350px;
      height: 250px;
    }
  }
}

@media (max-width: 400px) {
  .container-cart {
    margin: 0;
    width: 100%;
  }

  .cart-content .left-cart {
    width: 100%;
  }
}
